<!doctype html>
<html>
<head>
  <meta charset="utf-8" />
  <title>react-ts-admin</title>
  <link rel="stylesheet" href="<%= context.publicPath %>public/login-animation.css">
</head>
<body>
  <div id="root"></div>
</body>
</html>